body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.nav--bar {
  position: absolute;
  display: flex;
  align-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.logo {
  margin-left: 40px;
}

.section {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.button--navbar {
  background: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 40px;
  font-size: 0.6rem;
}

h1 {
  display: block;
  margin-left: 15%;
  font-size: 10rem;
  line-height: 8rem;
}

.second {
  justify-content: flex-end;
}

.custom .section--two--container {
  width: 360px;
  margin-right: 10%;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
}
#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  /* position: fixed; */
  /* display: flex; */
}
